@model WebApplication1.Models.AriaModel

@using WebApplication1.Controllers

@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>ARIA Example: Hello</title>
</head>
<body>
    <div role="application">
        <div id="name" class="name">
            <h2>Hello</h2>
            <p>
                <strong>Instructions:</strong> Insert your name in the box below. An
                <abbr title="Accessible Rich Internet Application">ARIA</abbr>
                dialog box will display the result. To start over, press
                the Try Again button.
            </p>
            <p class="input">
                <label id="name_label" for="name_text">Insert your Name:</label>
                @Html.ARIATextBoxFor(model => model.Nome)
                @*<input type="text" id="name_text" size="3" aria-labelledby="name_label"
                       aria-invalid="false" />*@
            </p>
            <p id="name_alert" role="alert" class="feedback"></p>
            <p class="input">
                <input class="button" id="name_check" type="button"
                       role="button" aria-pressed="false" value="Check Name" />
                <input class="button" id="name_again" type="button"
                       role="button" aria-pressed="false" value="Try Again" />
            </p>
        </div>
    </div>
</body>
</html>